extends layout

block content
	div(class='block')
		script(src="/javascripts/search.js")
		form(onsubmit="return false")
			input(name='query',type='text',id="search_box",autocomplete="off",autocorrect="off",placeholder="track name")
	div(id="search_results",class="block")
	