body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	width: 800px;
	margin: 0em auto;
}

a {
  color: #00B7FF;
}

#content {
	margin-top: 6em;
}

.logo
{
	top: 0em;
	color: white;
	background-color: #5b92e3;
	position: absolute;
	width: 100%;
	left: 0px;
	height: 4em;
	border-bottom: 2px solid #2b62b3;
}

.logo h1 
{
	width: 800px;
	display: block;
	margin: 0.4em auto;
	text-shadow: -1px -2px #2b62b3;
}

#search_results
{
	padding: 0em 0 0 0;
}

#search_results span.item
{
	display: block;
	font-size: 16px;
	padding: 0.4em 0em;
}

#search_results span.item:hover
{
	background-color: #fefdf0;
	border-radius: 0.5em;
}

#search_box
{
	font-size: 20px;
	width: 100%;
	border: 1px solid #ddd;
	padding: 0.3em 0.5em;
	border-radius: 0.2em;
    box-sizing: border-box;
}

input:-moz-placeholder 
{  
	color: #aaa;  
}

.loading
{
	background-image: url('/images/loading.gif');
	background-repeat: no-repeat;
	background-position: right;
}

#search_results .item
{
	margin: 1em 0px;
}

.logo h1 a
{
	text-decoration: none;
	color: white;
}

#footer {
    font-size: 12px;
    text-align: center;
    color: #aaa;
    margin: 5em 0;
}